<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emg.projectsmanage.dao.process.ConfigDbModelDao">
	<resultMap id="BaseResultMap" type="com.emg.projectsmanage.pojo.ConfigDbModel">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="dbtype" property="dbtype" jdbcType="INTEGER" />
		<result column="connname" property="connname" jdbcType="VARCHAR" />
		<result column="dbname" property="dbname" jdbcType="VARCHAR" />
		<result column="user" property="user" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="port" property="port" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,ip,dbtype,connname,dbname,user,password,port
	</sql>
	
	<select id="selectDbInfos" resultMap="BaseResultMap"
		parameterType="com.emg.projectsmanage.pojo.ConfigDbModel">
		select
		<include refid="Base_Column_List" />
		from tb_config_db;
	</select>
	
	<select id="selectDbInfoByDbid" resultMap="BaseResultMap"
		parameterType="com.emg.projectsmanage.pojo.ConfigDbModel">
		select
		<include refid="Base_Column_List" />
		from tb_config_db
		where id = #{id,jdbcType=INTEGER};
	</select>
</mapper>